
.brand-logo {
    font-weight: 300;
}



.profile-pic {
    max-height: 250px;
    display: block;
    margin: 0 auto;
    margin-top: -150px;
    border-radius: 125px;
    border: 5px solid white;
}

ul > li > a {
    font-size: 1.2em;
}

.about-me {
    text-indent: 4em;
}
